
.login-page {
    width: 375px;
    height: 667px;
    background-color: #333333;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.login-page-container{
    width: 335px;
    height: 629px;
    background-color: white;
    border-radius: 3px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  .logo{
    width: 161px;
    height:85px;
  }
  .login-button {
    width: 130px;
    height: 64px;
    background-color: #ff7002;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 24px;
  }
  .break {
    flex-basis: 100%;
    height: 0px;
  };